body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.flex-container {
  display: flex;
  width: 100%;
}

.endpoints {
  padding-right: 20px; 
}

.result-box {
  flex: 1; 
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  max-height: 500px; 
  overflow-y: auto; 
  background-color: #f9f9f9;
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.mainContent {
  padding-bottom: 60px;
}

.endpoint {
  max-width: 950px;
}

.collapsible {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-width: 100%;
}

.collapsible:hover {
  background-color: #cecece;
}

.collapsible:active {
  background-color: #d0d0d0;
}

.methods code {
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9em;
}

.content {
  display: none;
  max-width: 100%;
}

.content-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #fafafa;
  margin-top: 10px;
}

code {
  background-color: #333;
  border-radius: 4px;
  font-family: "Consolas", monospace;
  padding: 2px 4px;
  color: #f5f5f5;
}

.result {
  background-color: #f0f0f0; 
  padding: 10px;
  border: 1px solid #ccc; 
  width: 500px; 
  height: auto; 
  overflow: auto; 
  border-radius: 5px;
}
